@model IEnumerable<TestProject.Models.Artist>
@{
    ViewData["Title"] = "Performers";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>



<table class="table">
    <tr>
        <th>Name</th>
        <th>Albums count</th>
    </tr>

    @foreach (var artist in Model)
    {
        <tr>
            <td>
               @artist.Name
            </td>
            <td>
                @artist.Album.Count()
            </td>
        </tr>
    }

</table>
<div>Showing @ViewBag.offset to @ViewBag.offsetUpperBound records of @ViewBag.totalRecords. This is page @ViewBag.pageIndex of @ViewBag.totalNumberOfPages.</div>
<div>
    Go to page: 
    @for(int i = 1; i < ViewBag.totalNumberOfPages; i++) {
        <a href="/Chinook/Performers?pageNumber=@i&pageSize=@ViewBag.sizeOfPage">@i</a>
    }
</div>