@model IEnumerable<TestProject.Models.Artist>
@{
    ViewData["Title"] = "Performers";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>




@if(Model == null)
{
    <div>Sorry there was a probleam loading data from the database.</div>
} else
{
    <table class="table">
    <tr>
        <th>Artist Id</th>
        <th>Name</th>
        <th>Albums count</th>
    </tr>
    @foreach (var artist in Model)
    {
        <tr>
            <td>
               @artist.ArtistId
            </td>
            <td>
               @artist.Name
            </td>
            <td>
                @artist.Album.Count()
            </td>
        </tr>
    }

</table>


 @await Component.InvokeAsync("ListPager", 
    new {url = "/Chinook/Performers", 
    totalNumberOfItems = @ViewBag.totalRecords, 
    pageNumber = @ViewBag.pageIndex,
    pageSize = @ViewBag.sizeOfPage, 
    totalNumberOfPages = @ViewBag.totalNumberOfPages, 
    offset =  @ViewBag.offset,
    offsetUpperBound = @ViewBag.offsetUpperBound   
  })
}



    